@import '@fontsource/fira-mono';

@font-face {
  font-family: 'BergenMono-Regular';
  src: url('/fonts/BergenMono-Regular.otf');
}

:root {
  font-size: .8vw;
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'BergenMono-Regular', monospace;
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text-dark: rgb(30, 30, 30);
  --color-text-light: rgba(200, 200, 200);
	--color-bg: var(--color-text-dark);
  --color-good: rgb(1, 182, 1);
	font-family: var(--font-mono);
  background-color: var(--color-bg);
	color: var(--color-text-light);
  --aii: hsl(0, 100%, 50%);
  --si: hsl(48, 100%, 50%);
  --sma: hsl(66, 100%, 50%);
  --ce: hsl(135, 100%, 50%);
  --aqr: hsl(180, 100%, 50%);
  --edp: hsl(225, 100%, 50%);
  --er: hsl(270, 100%, 50%);
  --fr: hsl(315, 100%, 50%);
  --aii-text: var(--color-text-light);
  --sma-text: var(--color-text-dark);
  --si-text: var(--color-text-dark);
  --aqr-text: var(--color-text-dark);
  --ce-text: var(--color-text-dark);
  --edp-text: var(--color-text-light);
  --er-text: var(--color-text-light);
  --fr-text: var(--color-text-light);
}

/* sizing variables */
:root {
  --between-course-gap: 1em;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0em; /* Set the width of the scrollbar to zero */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the track to transparent */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the background color of the thumb (the draggable part) to transparent */
}
body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
